<h1>Orders</h1>

<% @orders.each do |order| %>
<% customer = User.find_by(id: order.user_id) %>
  <table>
    <tr>
      <th>Order No.</th>
      <th>Customer id</th>
      <th>Customer</th>
      <th>Order Status</th>
      <th>Update Status</th>
    </tr>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.user_id %></td>
      <!-- change customer.email to customer.name -->
      <td><%= customer.name %></td>
      <td><%= order.status %></td>
      <td>
        <form action="/orders/<%= order.id %>" method="post">
          <%= auth_token_input %>
          <input type="hidden" name="_method" value="PATCH">
          <select name="order[status]">
            <option value="ordered">Ordered</option>
            <option value="prepared">Prepared</option>
            <option value="picked up">Picked Up</option>
          </select>
          <input type="submit" name="" value="Update Order Status">
        </form>
      </td>
    </tr>
  </table>
<% end %>
